body1 {
    background-color:green;
}
.test{
    color: greenyellow;
}
#test2{
    color:crimson;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.container1{
    display: flex;
    flex-direction: column;
}
.container2{
    display: flex;
    justify-content:center;
}